.toolbar-title-md{
    text-align: center;
  }

  .scroll-content{
    overflow: auto !important;
  }

  .bg-color{
    background-color: #efeeee;
  }

  .top-list{
    margin-top: 15px;
  }
  .overflowClass{
    overflow: auto !important;
  }
