page-home {
    .button {
        height: 100px;
    }
    .cssClass {
        width: 24%;
        margin: 0.5%;
        height: 90px;
        text-align: center;
        float: left;
    }
}

.scroll-content{
  overflow: auto;
}
